.weather {
  position: relative;
  height: 80px;
  background-color: #00a3ff;
  border-radius: 12px;
}

.weather_info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 36px;
}

.weather_image {
  width: 100%;
}
