.modal__close-button {
  position: relative;
  background-image: url(../../images/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  color: #ffffff;
  width: 16px;
  height: 16px;
  border: none;
  top: 45px;
  left: 450px;
  transform: rotate(90deg);
}
